
.titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 20px;
    font-weight: bold;
    color: lightblue;
}

.subt{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}